a {
  color:#4A4A4A;
  font-family:'Roboto';
}

a:hover {
  color:#e95e6f;
  text-decoration:none;
}

p {
  font-family:'Roboto';
  font-weight:300;
  line-height:1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Roboto';
  font-weight:300;
}

body {
  font-family:'Roboto';
  transition:all ease-in-out 0.3s;
  background:#fff;
}

body, .smooth-container {
  scroll-behavior:smooth;
}

li {
  color:#4e4e4e;
  font-family:'Roboto';
  font-weight:300;
  line-height:1.4;
  font-size:16px;
}

.navbar-default {
  background:#f9f9f9;
  border-radius:0;
  box-shadow:none;
  border:none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color:#555;
  background-color:transparent;
  border-bottom:5px solid #E95E6F;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
  background-image:none;
  background-repeat:no-repeat;
  -webkit-box-shadow:none;
  box-shadow:none;
  border-bottom:5px solid #e95e6f;
  background-color:#555555;
}

.navbar-default .menu-utama > .active > a, .navbar-default .menu-utama > .open > a {
  background-image:none;
  background-repeat:no-repeat;
  -webkit-box-shadow:none;
  box-shadow:none;
  border-bottom:5px solid #e95e6f;
  background-color:#e1dddd;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color:#333;
  background-color:transparent;
  border-bottom:5px solid #E95E6F;
}

@media (min-width:991px) {
  .navbar-default .navbar-nav > li > a {
    color:#4A4A4A;
    font-family:'Roboto';
    font-weight:300;
  }
}

@media (max-width:991px) {
  .navbar-default .navbar-nav > li > a {
    color:#4A4A4A;
    font-family:'Roboto';
    font-weight:300;
    font-size:14px;
    padding-top:12px;
    padding-bottom:13px;
  }
}

@media (max-width:991px) {
  .navbar-default .navbar-nav > li > a {
    color:#4A4A4A;
    font-family:'Roboto';
    font-weight:300;
    font-size:14px;
    padding-top:12px;
    padding-bottom:13px;
  }
}

@media (min-width:991px) {
  .navbar {
    position:relative;
    height:55px;
    margin-bottom:0;
    border:none;
  }
}

@media (max-width:991px) {
  .navbar {
    position:relative;
    min-height:50px;
    margin-bottom:0;
    border-bottom:1px solid #eee;
  }
}

@media (min-width:991px) {
  .text-logo {
    font-family:'Roboto';
    font-weight:700;
    font-size:20px;
    color:#59879B;
    height:55px;
    padding:8px 0px;
  }
}

@media (max-width:991px) {
  .text-logo {
    font-family:'Roboto';
    font-weight:700;
    font-size:26px;
    color:#59879B;
  }
}

.text-logo span {
  margin-right:-5px;
  color:#e95e6f;
}

@media (min-width:991px) {
  .hero-site {
    height:720px;
    overflow:hidden;
    text-align:center;
    min-height:500px;
    background:url(../../assets/img/bg-wafes.png);
    position:relative;
    border-bottom:1px solid #eee;
    background-size:cover;
    background-position:bottom;
    background-repeat:no-repeat;
  }
}

@media (min-width:991px) {
  .hero-site-server {
    height:720px;
    overflow:hidden;
    text-align:center;
    min-height:500px;
    background:url(../../assets/img/bg-wafes.png);
    position:relative;
    border-bottom:1px solid #eee;
    background-size:contain;
    background-position:bottom;
    background-repeat:no-repeat;
  }
}

@media (max-width:991px) {
  .hero-site {
    height:430px;
    overflow:hidden;
    text-align:center;
    min-height:400px;
    background-color:#F9F9F9;
    position:relative;
    border-bottom:1px solid #eee;
  }
}

@media (max-width:767px) {
  .hero-site {
    height:350px;
    overflow:hidden;
    text-align:center;
    min-height:330px;
    background:#F9F9F9;
    position:relative;
    border-bottom:1px solid #eee;
  }
}

.chart-hero {
  position:absolute;
  width:100%;
  height:100%;
  z-index:1;
}

.hero-elemen {
  position:absolute;
  top:0;
  bottom:0;
  width:auto;
  height:100%;
  left: 0;
  right: 0;
}

.hero-container {
  padding:0;
  position:relative;
}

@media (min-width:991px) {
  .div-hero-title {
    padding-top:5em;
    width:70%;
    margin:auto;
    margin-top:24px;
  }
}

@media (max-width:991px) {
  .div-hero-title {
    padding-top:2em;
    width:70%;
    margin:auto;
    margin-top:15px;
  }
}

@media (max-width:767px) {
  .div-hero-title {
    padding-top:2em;
    width:100%;
    padding:6px;
    margin:auto;
    margin-top:4em;
  }
}

@media (min-width:991px) {
  .hero-title {
    font-family:'Roboto';
    font-weight:300;
    color:#4A4A4A;
    font-size:38px;
    line-height:1.4;
    margin-top:0;
  }
}

@media (max-width:991px) {
  .hero-title {
    font-family:'Roboto';
    font-weight:300;
    color:#4A4A4A;
    font-size:28px;
    line-height:1.3;
    margin-top:0;
  }
}

@media (max-width:767px) {
  .hero-title {
    font-family:'Roboto';
    font-weight:300;
    color:#4A4A4A;
    font-size:24px;
    line-height:1.3;
    margin-top:0;
  }
}

@media (min-width:991px) {
  .div-hero-img {
    position:absolute;
    width:100%;
    bottom:-50px;
    text-align:center;
    max-height:550px;
  }
}

@media (max-width:991px) {
  .div-hero-img {
    /*position:absolute;*/
    z-index:50;
    bottom:-40px;
    /*left:0;*/
    text-align:center;
    /*right:0;*/
    padding:15px;
  }
}

@media (min-width:767px) {
  .link-scroll {
    position:absolute;
    bottom:-25px;
    display:inline-block;
    height:50px;
    width:50px;
    text-align:center;
    background:#e95e6f;
    z-index:50;
    border-radius:50px;
    color:#fff;
    padding:8px 0;
    font-size:24px;
    margin:auto;
    box-shadow:0 10px 23px 0 rgba(199,165,165,0.24);
    -webkit-box-shadow:0 10px 23px 0 rgba(199,165,165,0.24);
    transition:0.3s;
    cursor:pointer;
  }
}

@media (max-width:767px) {
  .link-scroll {
    left:0;
    right:0;
    position:absolute;
    bottom:-25px;
    display:inline-block;
    height:50px;
    width:50px;
    text-align:center;
    background:#e95e6f;
    z-index:50;
    border-radius:50px;
    color:#fff;
    padding:8px 0;
    font-size:21px;
    margin:auto;
    box-shadow:0 10px 23px 0 rgba(199,165,165,0.24);
    -webkit-box-shadow:0 10px 23px 0 rgba(199,165,165,0.24);
    transition:0.3s;
    cursor:pointer;
  }
}

@media (min-width:767px) {
  .div-scroll {
    position:relative;
    text-align:center;
  }
}

@media (max-width:767px) {
  .div-scroll {
    width:100%;
    position:relative;
    text-align:center;
  }
}

.link-scroll:active, .link-scroll:hover {
  color:#fff;
}

.link-scroll:focus, .link-scroll:hover {
  color:#fff;
  background:#d75464;
}

@media (min-width:767px) {
  .btn-default {
    text-shadow:none;
    background-image:none;
    background-color:#e95e6f;
    border:none;
    border-radius:3px;
    box-shadow:none;
    font-family:'Roboto';
    font-weight:300 !important;
    font-size:16px;
    padding:12px 27px;
    color:#fff;
    transition:0.3s;
  }
}

@media (max-width:767px) {
  .btn-default {
    text-shadow:none;
    background-image:none;
    background-color:#e95e6f;
    border:none;
    border-radius:3px;
    box-shadow:none;
    font-family:'Roboto';
    font-weight:300 !important;
    font-size:16px;
    padding:8px 15px;
    color:#fff;
    transition:0.3s;
  }
}

.btn-default:focus, .btn-default:hover {
  background-color:#d75464;
  background-position:0 -15px;
  color:#fff;
}

.btn-default:active:focus, .btn-default:active:hover {
  background:#d75464;
  border:none;
  color:#fff;
  box-shadow:none;
  -webkit-box-shadow:none;
}

@media (min-width:991px) {
  .section-overview {
    padding:5em 0;
    text-align:center;
  }
}

@media (max-width:991px) {
  .section-overview {
    padding:2em 0;
    text-align:center;
  }
}

@media (min-width:991px) {
  .div-section-title {
    padding:2em 0;
    width:75%;
    margin:auto;
  }
}

@media (max-width:991px) {
  .div-section-title {
    padding:1em 0;
    width:75%;
    margin:auto;
  }
}

@media (max-width:767px) {
  .div-section-title {
    padding:1em 0;
    width:90%;
    margin:auto;
  }
}

@media (min-width:991px) {
  .title-section {
    color:#4a4a4a;
    font-size:38px;
  }
}

@media (max-width:991px) {
  .title-section {
    color:#4a4a4a;
    font-size:28px;
    margin-top:0;
  }
}

@media (max-width:767px) {
  .title-section {
    color:#4a4a4a;
    font-size:22px;
    margin-top:0;
  }
}

@media (min-width:991px) {
  .row-feature-section {
    margin:0;
    padding:25px;
  }
}

@media (max-width:991px) {
  .row-feature-section {
    margin:0;
    padding:10px;
  }
}

.column-feature {
  padding:15px;
  text-align:center;
}

@media (min-width:991px) {
  .feature-box {
    height:280px;
    min-height:250px;
    background:#fff;
    padding:30px 15px;
    border:1px solid #eee;
    text-align:center;
    transition:0.3s;
    max-width:250px;
    margin:auto;
  }
}

@media (max-width:991px) {
  .feature-box {
    height:230px;
    min-height:180px;
    background:#fff;
    padding:10px 10px;
    border:1px solid #eee;
    text-align:center;
    transition:0.3s;
    max-width:250px;
    margin:auto;
  }
}

@media (min-width:991px) {
  .box-moreways {
    height:250px;
    min-height:250px;
    background:#fff;
    padding:30px 15px;
    border:1px solid #eee;
    text-align:left;
    transition:0.3s;
    max-width:250px;
    margin:auto;
    position:relative;
  }
}

@media (max-width:991px) {
  .box-moreways {
    height:200px;
    min-height:180px;
    background:#fff;
    padding:15px 10px;
    border:1px solid #eee;
    text-align:left;
    transition:0.3s;
    max-width:200px;
    margin:auto;
    position:relative;
  }
}

@media (max-width:767px) {
  .box-moreways {
    height:175px;
    min-height:175px;
    background:#fff;
    padding:15px 10px;
    border:1px solid #eee;
    text-align:left;
    transition:0.3s;
    max-width:200px;
    margin:auto;
    position:relative;
  }
}

@media (min-width:991px) {
  .ic-feature {
    font-size:68px;
    margin-bottom:10px;
    opacity:0.8;
  }
}

@media (max-width:991px) {
  .ic-feature {
    font-size:38px;
    margin-bottom:10px;
  }
}

@media (min-width:991px) {
  .heading-featurebox {
    margin-top:10px;
    font-size:22px;
  }
}

@media (max-width:991px) {
  .heading-featurebox {
    margin-top:5px;
    font-size:18px;
  }
}

.feature-box:hover {
  cursor:pointer;
  color:#e95e6f;
  border-color:#e95e6f;
}

.learn-more {
  padding:8px 22px;
  margin-top:10px;
}

@media (min-width:991px) {
  .section-platform {
    padding-top:5em;
    background:#F8F8F8;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    height:auto;
    min-height:750px;
  }
}

@media (min-width:767px) {
  .section-pricing {
    padding:2em 0;
    height:auto;
    min-height:300px;
  }
}

@media (max-width:767px) {
  .section-pricing {
    padding:2em 0;
    height:auto;
    min-height:500px;
  }
}

.section-wback {
  padding:3em 0;
  background:#4a4a4a;
  height:auto;
  min-height:550px;
  position:relative;
}

@media (max-width:991px) {
  .section-platform {
    padding-top:2em;
    background:#F8F8F8;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    height:auto;
    min-height:500px;
  }
}

.inside-container {
  padding:0;
  text-align:center;
}

.div-platform-thirdparty {
  text-align:center;
  margin-bottom:15px;
}

.img-platform-party {
  height:28px;
  margin-left:18px;
  margin-right:18px;
}

@media (min-width:991px) {
  .row-platfor {
    margin:0;
    padding:3em 0;
    min-height:420px;
  }
}

@media (max-width:991px) {
  .row-platfor {
    margin:0;
    padding:2em 0;
  }
}

@media (max-width:767px) {
  .row-platfor {
    margin:0;
    padding:5px 10px;
  }
}

.column-platfom {
  padding:0;
}

@media (min-width:991px) {
  .div-platimage {
    text-align:center;
    height:380px;
    /*padding:5px;*/
    max-height:380px;
    overflow:hidden;
  }
}

@media (max-width:991px) {
  .div-platimage {
    text-align:center;
    padding:10px;
    height:auto;
    max-height:230px;
    overflow:hidden;
  }
}

@media (min-width:767px) {
  .img-platform {
    width:100%;
    height:auto;
  }
}

@media (max-width:767px) {
  .img-platform {
    width:100%;
    height:auto;
  }
}

@media (min-width:991px) {
  .div-text-content {
    padding:8% 25px;
    text-align:left;
  }
}

@media (max-width:991px) {
  .div-text-content {
    padding:2% 20px;
    text-align:left;
  }
}

@media (min-width:991px) {
  .title-platfom-feat {
    font-size:20px;
    color:#4e4e4e;
    margin-bottom:20px;
    margin-top:0;
  }
}

@media (max-width:991px) {
  .title-platfom-feat {
    font-size:18px;
    color:#4e4e4e;
    margin-bottom:14px;
    margin-top:0;
  }
}

.link-learn-more {
  color:#4e4e4e;
  font-size:15px;
}

@media (min-width:991px) {
  .list-plat {
    margin-bottom:25px;
  }
}

@media (max-width:991px) {
  .list-plat {
    margin-bottom:15px;
  }
}

.link-learn-more i {
  margin-left:10px;
}

@media (min-width:991px) {
  .section-discover {
    padding:5em 0;
    background:#4A4A4A;
  }
}

@media (max-width:991px) {
  .section-discover {
    padding:2em 0;
    background:#4A4A4A;
  }
}

.row-discover {
  margin:0;
}

.column-discover {
  padding:0;
}

.div-disc {
  display:flex;
}

.div-img-discover {
  width:80px;
  padding:10px 0;
  min-width:80px;
  height:auto;
  text-align:center;
}

.img-discover {
  height:50px;
}

.text-disc {
  color:#fff;
  margin-top:0;
  margin-bottom:8px;
  font-size:16px;
  line-height:1.4;
}

.div-cntx-disc {
  padding:10px 15px;
}

.text-disc span {
  font-weight:500;
}

.link-learn-more {
  color:#fff !important;
  font-weight:300;
  background:none !important;
}

@media (min-width:767px) {
  .link-tab {
    font-size:20px;
    font-weight:300;
    text-decoration:none;
    padding:25px 15px;
    width:100%;
  }
}

@media (max-width:767px) {
  .link-tab {
    font-size:16px;
    font-weight:300;
    text-decoration:none;
    padding:15px 10px;
    width:100%;
  }
}

@media (min-width:991px) {
  .tab-ling {
    display:flex;
    margin-top:3em;
  }
}

@media (max-width:991px) {
  .tab-ling {
    display:flex;
    margin-top:1.5em;
  }
}

.link-tab:focus {
  font-weight:400;
  text-decoration:none;
  color:#4e4e4e;
}

.link-tab:active {
  font-weight:400;
}

.p-platform {
  font-size:16px;
  line-height:1.5;
  margin-bottom:20px;
}

.modal-video-show {
  padding:0;
  text-align:center;
}

@media (min-width:991px) {
  .section-moreway {
    padding:4em 0px;
    text-align:center;
  }
}

@media (max-width:991px) {
  .section-moreway {
    padding:2em 0px;
    text-align:center;
  }
}

@media (min-width:767px) {
  .row-moreway {
    margin:0;
    padding:2em 0;
  }
}

@media (max-width:767px) {
  .row-moreway {
    margin:0;
    padding:2em 4px;
  }
}

@media (min-width:767px) {
  .column-moreways {
    padding:10px;
  }
}

@media (max-width:767px) {
  .column-moreways {
    padding:5px;
  }
}

.link-moreway {
  position:absolute;
  bottom:10px;
  font-weight:300;
  color:inherit;
}

.link-moreway i {
  margin-left:10px;
}

.box-moreways:hover {
  border-color:#e95e6f;
  color:#e95e6f;
}

@media (min-width:991px) {
  .section-whatsnew {
    padding:5em 0;
    text-align:center;
    background:#F9F9F9;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
  }
}

@media (max-width:991px) {
  .section-whatsnew {
    padding:2em 0;
    text-align:center;
    background:#F9F9F9;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
  }
}

.container-ws {
  padding:0;
}

.tab-wsnew {
  display:inline-block;
  height:50px;
  overflow:hidden;
  padding-right:8px;
  background:#fff;
  transition:0.3s;
}

.tab-wsnew:focus {
  box-shadow:0 15px 25px 0 rgba(216,216,216,0.24);
  -webkit-box-shadow:0 15px 25px 0 rgba(216,216,216,0.24);
}

.tab-wsnew:hover {
  box-shadow:0 15px 25px 0 rgba(216,216,216,0.24);
  -webkit-box-shadow:0 15px 25px 0 rgba(216,216,216,0.24);
}

@media (min-width:767px) {
  .btn-tabnew {
    flex-grow:1;
    text-align:left;
    background:#fff;
    font-weight:300;
    font-size:16px;
    border:1px solid #eee;
    text-decoration:none;
    color:#4e4e4e;
    margin-right:15px;
    transition:0.3s;
  }
}

@media (max-width:767px) {
  .btn-tabnew {
    display:block;
    text-align:left;
    background:#fff;
    font-weight:300;
    font-size:12px;
    border:1px solid #eee;
    text-decoration:none;
    color:#4e4e4e;
    margin-right:2px;
  }
}

@media (min-width:767px) {
  .img-flx {
    margin-right:15px;
  }
}

@media (max-width:767px) {
  .img-flx {
    margin-right:5px;
    width:24px;
  }
}

.btn-tabnew:hover {
  box-shadow:0 15px 25px 0 rgba(216,216,216,0.24);
  -webkit-box-shadow:0 15px 25px 0 rgba(216,216,216,0.24);
  color:#4e4e4e;
  text-decoration:none;
}

.btn-tabnew:focus {
  box-shadow:0 15px 25px 0 rgba(216,216,216,0.24);
  -webkit-box-shadow:0 15px 25px 0 rgba(216,216,216,0.24);
  color:#4e4e4e;
  text-decoration:none;
}

.btn-tabnew:active:hover {
  box-shadow:0 15px 25px 0 rgba(216,216,216,0.24);
  -webkit-box-shadow:0 15px 25px 0 rgba(216,216,216,0.24);
  text-decoration:none;
  color:#4e4e4e;
  font-weight:400;
}

.btn-tabnew:last-child {
  margin-right:0;
}

@media (min-width:991px) {
  .section-history {
    padding:5em 0;
    text-align:center;
  }
}

@media (max-width:991px) {
  .section-history {
    padding:2em 0;
    text-align:center;
  }
}

.span-underline {
  padding-bottom:4px;
  border-bottom:1px solid #4e4e4e;
}

@media (min-width:991px) {
  .row-history {
    margin:0;
    padding:0 2em;
    margin-bottom:2em;
  }
}

@media (max-width:991px) {
  .row-history {
    margin:0;
    padding:0;
    margin-bottom:1em;
  }
}

@media (max-width:767px) {
  .row-history {
    margin:0;
    padding:0 2em;
    margin-bottom:1em;
  }
}

@media (min-width:991px) {
  .column-history {
    padding:15px 25px;
  }
}

@media (max-width:991px) {
  .column-history {
    padding:10px;
  }
}

@media (min-width:991px) {
  .div-history-box {
    position:relative;
    min-height:250px;
    background-color:#F9F9F9;
    border:1px solid #eee;
    transition:0.3s;
  }
}

@media (max-width:991px) {
  .div-history-box {
    position:relative;
    min-height:200px;
    background-color:#F9F9F9;
    border:1px solid #eee;
    transition:0.3s;
  }
}

@media (min-width:991px) {
  .div-wrpimg {
    height:175px;
    overflow:hidden;
    width:100%;
    text-align:center;
  }
}

@media (max-width:991px) {
  .div-wrpimg {
    height:120px;
    overflow:hidden;
    width:100%;
    text-align:center;
  }
}

.img-history {
  width:100%;
  height:auto;
  transform:scale(1.2);
}

.div-wrptext {
  padding:13px 15px;
  text-align:left;
}

@media (min-width:991px) {
  .title-histr {
    color:#666;
    line-height:1.3;
    margin-bottom:20px;
    font-size:18px;
    margin-top:0;
  }
}

@media (max-width:991px) {
  .title-histr {
    color:#666;
    line-height:1.3;
    margin-bottom:10px;
    font-size:16px;
    margin-top:0;
  }
}

.txt-topic {
  color:#888;
  margin-bottom:0;
}

.div-history-box:hover {
  cursor:pointer;
  background:#fff;
  transform:translateY(-5px);
  box-shadow:0 25px 45px 0 rgba(163,163,163,0.28);
}

@media (min-width:991px) {
  .section-try {
    padding:3em 0;
    text-align:center;
    background:#4A4A4A;
  }
}

@media (max-width:991px) {
  .section-try {
    padding:2em 0;
    text-align:center;
    background:#4A4A4A;
  }
}

@media (min-width:767px) {
  .div-try {
    padding:25px;
    width:70%;
    margin:auto;
  }
}

@media (max-width:767px) {
  .div-try {
    padding:15px 10px;
    margin:auto;
  }
}

@media (min-width:767px) {
  .header-try {
    color:#fff;
    margin-top:0;
    margin-bottom:25px;
    transition:0.3s;
  }
}

@media (max-width:767px) {
  .header-try {
    font-size:24px;
    color:#fff;
    margin-top:0;
    margin-bottom:25px;
    transition:0.3s;
  }
}

.header-try span {
  font-weight:500;
}

@media (min-width:767px) {
  .button-trial {
    padding:15px 40px;
    background:#fff;
    color:#a4a4a4;
    text-transform:uppercase;
  }
}

@media (max-width:767px) {
  .button-trial {
    padding:10px 20px;
    background:#fff;
    color:#a4a4a4;
    text-transform:uppercase;
  }
}

@media (min-width:991px) {
  .footer {
    padding:2em 0;
    background:#3D3D3D;
    border-top:1px solid #333333;
  }
}

@media (max-width:991px) {
  .footer {
    padding:1em 0;
    background:#3D3D3D;
    border-top:1px solid #333333;
  }
}

.footer-container {
  padding:0;
}

@media (min-width:767px) {
  .footer-list > li {
    padding:5px 10px;
    color:#ddd;
  }
}

@media (max-width:767px) {
  .footer-list > li {
    padding:5px 0px;
    color:#ddd;
  }
}

@media (min-width:767px) {
  .footer-list > li a {
    color:#979797;
    font-size:14px;
    padding:3px 15px;
    text-decoration:none;
    transition:0.3s;
  }
}

@media (max-width:767px) {
  .footer-list > li a {
    color:#979797;
    font-size:13px;
    padding:3px 11px;
    text-decoration:none;
    transition:0.3s;
  }
}

.footer-list > li a:hover {
  color:#eeeeee;
}

@media (min-width:767px) {
  .footer-list {
    display:inline-block;
  }
}

@media (max-width:767px) {
  .footer-list {
    display:block;
    text-align:center;
  }
}

@media (min-width:767px) {
  .language {
    display:inline-block;
  }
}

@media (max-width:767px) {
  .language {
    display:block;
    margin:auto;
  }
}

.btn-lange {
  color:#fff !important;
  font-weight:300;
  font-size:12px;
  background:#4C4C4C !important;
  border:none !important;
}

.btn-lange:hover {
  color:#fff;
  text-decoration:none;
  background:#4C4C4C;
  box-shadow:0 2px 4px 0 rgba(37,37,37,0.22);
  -webkit-box-shadow:0 2px 4px 0 rgba(37,37,37,0.22);
}

.btn-lange:focus, .btn-lange:hover {
  color:#f9f9f9;
  background:#4C4C4C;
  text-decoration:none;
  box-shadow:0 2px 4px 0 rgba(37,37,37,0.22);
  -webkit-box-shadow:0 2px 4px 0 rgba(37,37,37,0.22);
}

.drop-open {
  position:absolute;
  top:100%;
  left:0;
  z-index:1000;
  display:none;
  float:left;
  min-width:160px;
  padding:0;
  margin:0;
  font-size:14px;
  text-align:left;
  list-style:none;
  background-color:#4c4c4c;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
  border:none;
  border-radius:0;
  box-shadow:0 2px 4px 0 rgba(37,37,37,0.22);
  -webkit-box-shadow:0 2px 4px 0 rgba(37,37,37,0.22);
}

.drop-open > li > a {
  display:block;
  padding:10px 15px;
  clear:both;
  font-weight:300;
  line-height:1.42857143;
  color:#fff;
  font-size:12px;
  white-space:nowrap;
}

.drop-open > li > a:focus, .drop-open > li > a:hover {
  background-color:#555555;
  background-image:none;
}

.drop-open > li > a:focus, .drop-open > li > a:hover {
  color:#fff;
  text-decoration:none;
  background-color:#333333;
}

@media (min-width:991px) {
  .div-footer-a {
    padding:15px 0;
  }
}

@media (max-width:991px) {
  .div-footer-a {
    padding:5px 0;
  }
}

@media (max-width:767px) {
  .div-footer-a {
    padding:5px 0;
    text-align:center;
  }
}

@media (min-width:767px) {
  .div-footer-b {
    display:block;
    margin-left:-15px;
  }
}

@media (max-width:767px) {
  .div-footer-b {
    display:block;
    margin-left:0;
  }
}

@media (min-width:767px) {
  .copyright-text {
    display:inline-block;
    float:right;
    color:#6B6B6B;
    margin:0;
    padding:10px 0;
    font-weight:300;
  }
}

@media (max-width:767px) {
  .copyright-text {
    display:block;
    color:#6B6B6B;
    margin:0;
    text-align:center;
    padding:8px 0;
    font-weight:300;
  }
}

@media (min-width:991px) {
  .img-hero {
    width:auto;
    height:450px;
  }
}

@media (max-width:991px) {
  .img-hero {
    width:auto;
    height:300px;
  }
}

@media (max-width:767px) {
  .img-hero {
    width:auto;
    height:150px;
  }
}

@media (max-width:767px) {
  .mobile-nav {
    background:#f9f9f9;
    border-bottom:1px solid #eee;
    box-shadow:0 25px 45px 0 rgba(163,163,163,0.28);
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color:#e95e6f;
}

.navbar-default .navbar-toggle {
  border-color:#d75464;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color:#ffffff;
  color:#fff;
}

.modal-content {
  border-radius:0;
  border:none;
}

i {
}

.scroll-totop {
  position:fixed;
  bottom:15px;
  right:15px;
  display:inline-block;
  width:50px;
  height:50px;
  text-align:center;
  color:#fff;
  z-index:10000;
  background:#e95e6f;
  border-radius:50px;
  padding:8px 0;
  font-size:22px;
  transition:visibility 0s, opacity 0.5s ease-in-out;
  box-shadow:0 15px 25px 0 rgba(51,51,51,0.25);
  -webkit-box-shadow:0 15px 25px 0 rgba(51,51,51,0.25);
  -moz-box-shadow:0 15px 25px 0 rgba(51,51,51,0.25);
}

.scroll-totop:hover {
  color:#fff;
  background:#d75464;
}

@media (min-width:767px) {
  .dynamic-nav {
    height:50px;
    background:#fff;
    width:100%;
    box-shadow:0 10px 25px 0 rgba(145,145,145,0.08);
    -webkit-box-shadow:0 10px 25px 0 rgba(145,145,145,0.08);
    border-bottom:1px solid #eee;
    z-index:100;
    display:block;
  }
}

@media (max-width:767px) {
  .dynamic-nav {
    width:100%;
    height:auto;
    background:#fff;
    box-shadow:0 10px 25px 0 rgba(145,145,145,0.08);
    -webkit-box-shadow:0 10px 25px 0 rgba(145,145,145,0.08);
    /*border-bottom:1px solid #eee;*/
    z-index:100;
    display:flex;
    margin-bottom:0;
    overflow:auto;
  }
}

.btn-warning {
  background:#E7762C;
  border:none;
  border-radius:0;
  font-weight:300;
  padding:10px 25px;
  margin:3px;
}

.btn-link {
  background:transparent;
  padding:9px 25px;
  border:1px solid #e7762c;
  color:#e7762c;
  margin:3px;
  transition:0.3s;
  text-decoration:none !Important;
}

.btn-white {
  background:transparent;
  padding:9px 25px;
  border:1px solid #fff;
  color:#fff;
  margin:3px;
  transition:0.3s;
  text-decoration:none !Important;
  transition:0.2s;
}

.btn-white:hover {
  background:#fff;
  padding:9px 25px;
  border:1px solid #fff !important;
  color:#59879b !important;
  margin:3px;
  transition:0.3s;
  text-decoration:none !Important;
}

.btn-link:hover {
  color:#cd5d14;
  border:1px solid #cd5d14;
}

@media (min-width:767px) {
  .white {
    background:#fff;
    min-height:350px;
    border:none;
    padding-top:3em;
    padding-bottom:3em;
  }
}

@media (max-width:767px) {
  .white {
    background:#fff;
    min-height:350px;
    border:none;
    padding-top:2em;
    padding-bottom:2em;
  }
}

.underline {
  font-weight:400;
  padding-bottom:3px;
  border-bottom:1px solid #e7762c;
}

.u-server {
  font-weight:400;
  padding-bottom:1px;
  border-bottom:1px solid #59879b;
}

.u-cloud {
  font-weight:400;
  padding-bottom:3px;
  border-bottom:1px solid #5b6591;
}

@media (min-width:767px) {
  .p-intor-detail {
    line-height:1.5;
    font-size:16px;
    margin-bottom:25px;
  }
}

@media (max-width:767px) {
  .p-intor-detail {
    line-height:1.5;
    font-size:14px;
    margin-bottom:18px;
  }
}

.btn-link i {
  margin-left:10px;
}

.orange {
  background:#e7762c;
  color:#fff !important;
  min-height:350px;
}

.tx-white {
  color:#fff;
  font-family:'Roboto';
  font-weight:300;
}

.span-white {
  border-color:#fff;
}

.btn.btn-link.tx-white.span-white:hover {
  color:#fbfbfb;
  border-color:#fbfbfb;
}

.grey {
  background:#f9f9f9;
  min-height:550px;
  border:none;
}

.black {
  background:#4a4a4a;
}

.fetaure-right-border {
  text-align:left;
  padding:0px 15px;
  color:#fff;
  border-left:5px solid #fff;
  margin-bottom:3em;
}

.fetaure-right-border:last-child {
  margin-bottom:0;
}

.div-bg-overlay {
  position:absolute;
  width:100%;
  height:100%;
  bottom:0;
  top:0;
  z-index:1;
  background-image:url(../../assets/img/bg-overlay.png);
  background-position:bottom center;
  background-size:contain;
  background-repeat:no-repeat;
}

.link-white {
  color:#fff;
}

@media (min-width:767px) {
  .section-review {
    padding:3em 0;
    background:#f8f8f8;
    text-align:center;
  }
}

@media (max-width:767px) {
  .section-review {
    padding:2em 0;
    background:#f8f8f8;
    text-align:center;
  }
}

.cntrol {
  display:none;
}

@media (min-width:767px) {
  .item-hsitory {
    padding:25px;
    text-align:center;
  }
}

@media (max-width:767px) {
  .item-hsitory {
    padding:15px;
    text-align:center;
  }
}

.div-wrap-profile {
  width:85px;
  height:85px;
  margin:auto;
  border:1px solid #fff;
  border-radius:3px;
  background:#fff;
  overflow:hidden;
  box-shadow:0 5px 8px 0 rgba(202,202,202,0.50);
  -webkit-box-shadow:0 5px 8px 0 rgba(202,202,202,0.50);
}

.profil-customer {
  width:100%;
  height:auto;
  transform:scale(1.2);
}

.crs-indocator {
  bottom:-30px;
}

.div-review-text {
  padding-top:30px;
  padding-bottom:15px;
  padding-left:15px;
  padding-right:15px;
  text-align:center;
  margin-top:-20px;
  background:#fff;
  box-shadow:0 10px 20px 0 rgba(218,218,218,0.35);
}

.t-company {
  font-weight:400;
  color:#666;
}

blockquote {
  border:none;
  font-style:italic;
  font-size:14px;
}

.carousel-indicators .active {
  width:12px;
  height:12px;
  margin:0;
  background-color:#888888;
}

.carousel-indicators li {
  display:inline-block;
  width:10px;
  height:10px;
  margin:1px;
  text-indent:-999px;
  cursor:pointer;
  background-color:#000\9;
  background-color:#E1DDDD;
  border:none;
  border-radius:10px;
}

.the-story-slide {
  margin-bottom:2em;
}

.ro-pricing {
  margin:0;
  padding:0 15px;
}

.col-priceing {
  padding:0;
}

@media (min-width:767px) {
  .div-pricebox {
    background:#fff;
    display:block;
    width:100%;
    height:180px;
    min-height:150px;
    border-radius:4px;
    overflow:hidden;
    box-shadow:0 20px 15px 0 rgba(51,51,51,0.08);
    -webkit-box-shadow:0 20px 15px 0 rgba(51,51,51,0.08);
    transition:0.3s;
    margin-bottom:2.5em;
  }
}

@media (max-width:767px) {
  .div-pricebox {
    background:#fff;
    display:block;
    width:100%;
    height:200px;
    overflow:hidden;
    min-height:100px;
    border-radius:4px;
    overflow:hidden;
    box-shadow:0 20px 15px 0 rgba(51,51,51,0.08);
    -webkit-box-shadow:0 20px 15px 0 rgba(51,51,51,0.08);
    transition:0.3s;
    margin-bottom:2.5em;
  }
}

@media (min-width:767px) {
  .price-box {
    display:inline-block;
    width:35%;
    height:100%;
    vertical-align:middle;
    padding:20px 10px;
    background:#ebebeb;
    float:left;
  }
}

@media (max-width:767px) {
  .price-box {
    background:#ebebeb;
    display:inline-block;
    width:35%;
    height:100%;
    vertical-align:middle;
    padding:15px 5px;
    float:left;
    position:relative;
    min-height:200px;
  }
}

@media (min-width:767px) {
  .price-detail {
    display:inline-block;
    width:65%;
    height:100%;
    vertical-align:middle;
    padding:20px 15px;
    text-align:left;
    position:relative;
  }
}

@media (max-width:767px) {
  .price-detail {
    display:inline-block;
    width:65%;
    height:100%;
    vertical-align:middle;
    padding:15px 10px;
    text-align:left;
    position:relative;
    background:#fff;
  }
}

@media (min-width:767px) {
  .desk-price {
    color:#666;
  }
}

@media (max-width:767px) {
  .desk-price {
    color:#666;
    font-size:16px;
    display:block;
  }
}

.spro {
  margin-right:3px;
  background:#d75464;
  color:#fff;
  padding:1px 2px;
}

@media (min-width:767px) {
  .the-price {
    color:#4a4a4a;
    font-weight:700;
    font-size:22px;
    margin-bottom:20px;
  }
}

@media (max-width:767px) {
  .the-price {
    color:#4a4a4a;
    font-weight:700;
    font-size:18px;
    margin-bottom:20px;
    display:block;
  }
}

.tx-info {
  color:#666;
  font-weight:300;
}

.div-pricebox:hover {
  box-shadow:0 5px 15px 0 rgba(51,51,51,0.08);
}

.li-feaprice li:before {
  content:" - ";
}

.li-feaprice li {
  line-height:1.2;
  font-size:14px;
  margin-bottom:5px;
}

.buy-now {
  padding:5px 10px;
  position:absolute;
  float:right;
  bottom:10px;
  right:10px;
}

@media (min-width:767px) {
  .menu-dynamic {
    display:inline-block;
  }
}

@media (min-width:767px) {
  .m-server {
    display:inline-block;
  }
}

@media (min-width:767px) {
  .m-cloud {
    display:inline-block;
  }
}

@media (min-width:767px) {
  .m-tablet {
    display:inline-block;
  }
}

@media (max-width:767px) {
  .menu-dynamic {
    display:flex;
    clear:both;
    width:100%;
    margin:0;
    white-space:nowrap;
    overflow:auto;
  }
}

@media (max-width:767px) {
  .m-server {
    display:flex;
    clear:both;
    margin:0;
    overflow:auto;
  }
}

@media (max-width:767px) {
  .m-cloud {
    display:flex;
    clear:both;
    margin:0;
    overflow:scroll;
  }
}

@media (max-width:767px) {
  .m-tablet {
    display:flex;
    clear:both;
    margin:0;
    overflow:scroll;
  }
}

@media (min-width:767px) {
  .menu-dynamic li a {
    display:inline-block;
    height:50px;
    color:#666;
    padding:15px 15px;
    vertical-align:middle;
    font-weight:300;
    border-bottom:5px solid transparent;
    transition:0.2s;
    text-decoration:none !important;
  }
}

@media (min-width:767px) {
  .m-server li a {
    display:inline-block;
    height:51px;
    color:#666;
    padding:15px 10px;
    vertical-align:middle;
    font-weight:300;
    border-bottom:5px solid transparent;
    transition:0.2s;
    text-decoration:none !important;
  }
}

@media (min-width:767px) {
  .m-cloud li a {
    display:inline-block;
    height:51px;
    color:#666;
    padding:15px 10px;
    vertical-align:middle;
    font-weight:300;
    border-bottom:5px solid transparent;
    transition:0.2s;
    text-decoration:none !important;
  }
}

@media (min-width:767px) {
  .m-tablet li a {
    display:inline-block;
    height:51px;
    color:#666;
    padding:15px 10px;
    vertical-align:middle;
    font-weight:300;
    border-bottom:5px solid transparent;
    transition:0.2s;
    text-decoration:none !important;
  }
}

@media (max-width:767px) {
  .menu-dynamic li a {
    display:inline-block;
    min-width:90px;
    height:50px;
    color:#666;
    padding:13px 15px;
    vertical-align:middle;
    font-weight:300;
    border-bottom:5px solid transparent;
    transition:0.2s;
    text-align:center;
    text-decoration:none !important;
  }
}

@media (max-width:767px) {
  .m-server li a {
    display:block;
    white-space:nowrap;
    min-width:90px;
    height:45px;
    color:#666;
    padding:12px 15px;
    vertical-align:middle;
    font-weight:300;
    border-bottom:5px solid transparent;
    transition:0.2s;
    text-align:center;
    text-decoration:none !important;
  }
}

@media (max-width:767px) {
  .m-cloud li a {
    display:block;
    white-space:nowrap;
    width:auto;
    height:45px;
    color:#666;
    padding:12px 10px;
    vertical-align:middle;
    font-weight:300;
    border-bottom:5px solid transparent;
    transition:0.2s;
    text-align:center;
    text-decoration:none !important;
  }
}

@media (max-width:767px) {
  .m-tablet li a {
    display:block;
    white-space:nowrap;
    width:auto;
    height:45px;
    color:#666;
    padding:12px 15px;
    vertical-align:middle;
    font-weight:300;
    border-bottom:5px solid transparent;
    transition:0.2s;
    text-align:center;
    text-decoration:none !important;
  }
}

.menu-dynamic li a:hover {
  color:#e7762c;
  font-weight:300;
  border-bottom:5px solid #e7762c;
}

.m-server li a:hover {
  color:#59879b;
  font-weight:300;
  border-bottom:5px solid #59879b;
}

.m-cloud li a:hover {
  color:#5b6591;
  font-weight:300;
  border-bottom:5px solid #5b6591;
}

.m-tablet li a:hover {
  color:#e95e6f;
  font-weight:300;
  border-bottom:5px solid #e95e6f;
}

.menu-dynamic li a:active {
  color:#e7762c;
  font-weight:300;
  border-bottom:5px solid #e7762c;
}

.m-server li a:active {
  color:#59879b;
  font-weight:300;
  border-bottom:5px solid #59879b;
}

.m-cloud li a:active {
  color:#5b6591;
  font-weight:300;
  border-bottom:5px solid #5b6591;
}

.m-tablet li a:active, .m-tablet li a:focus {
  color:#e95e6f;
  font-weight:300;
  border-bottom:5px solid #e95e6f;
}

.menu-dynamic li a:focus {
  color:#e7762c;
  font-weight:300;
  border-bottom:5px solid #e7762c;
}

.m-server li a:focus {
  color:#59879b;
  font-weight:300;
  border-bottom:5px solid #59879b;
}

.m-cloud li a:focus {
  color:#5b6591;
  font-weight:300;
  border-bottom:5px solid #5b6591;
}

@media (min-width:767px) {
  .product-title {
    display:inline-block;
    margin:0;
    height:50px;
    padding:15px 0;
    float:left;
    vertical-align:middle;
    margin-right:15px;
    font-weight:500;
    font-size:18px;
  }
}

@media (max-width:767px) {
  .product-title {
    /*display:none;*/
    text-align:center;
    margin:0 auto;
    padding-top:10px;
    vertical-align:middle;
    margin-right:5px;
    font-weight:500;
    font-size:24px;
  }
}

.pdesktop {
  color:#e7762c;
}

.div-hero-nn {
  position:relative;
}

.pserver {
  color:#59879B;
}

.hero-server {
  background-color:#59879B;
  background-image:url(../../assets/img/wafe-server.png);
  background-size:contain;
  background-repeat:no-repeat;
  background-position:bottom;
}

.server {
  background:#59879B;
  min-height:500px;
}

.b-tab {
  color:#e95e6f;
  border-color:#e95e6f;
}

.b-cloud {
  color:#5b6591;
  border-color:#5b6591;
}

.b-server {
  color:#59879B;
  border-color:#59879B;
}

.b-server:hover {
  color:#fff !important;
  border-color:#59879B !important;
  background:#59879b !important;
}

.b-cloud:hover {
  color:#fff !important;
  border-color:#5b6591 !important;
  background:#5b6591 !important;
}

.b-tab:hover {
  color:#fff !important;
  border-color:#e95e6f !important;
  background:#e95e6f !important;
}

.o-server {
  background:#e95e6f;
}

.bg-server {
  background:#59879B;
}

@media (max-width:767px) {
  .con-nav {
    display:block;
    padding:0;
    width:auto;
    overflow:scroll;
  }
}

@media (min-width:767px) {
  .con-nav {
    display:block;
    height:50px;
  }
}

.hero-cloud {
  background-image:url(../../assets/img/wafe-cloud.png);
  background-color:#5B6591;
}

.pcloud {
  color:#5b6591;
}

.bg-cloud {
  background:#5b6591;
  min-height:200px;
}

.section-platform.bg-cloud {
  min-height:400px;
}

.btnc-white {
  background:#fff;
  color:#5b6591;
  border:1px solid #fff;
}

.btnc-white:hover {
  background:transparent;
  border:1px solid #fff;
}

.hero-tablet {
  background-color:#e95e6f;
  background-image:url(../../assets/img/wafe-tablet.png);
}

.u-tablet {
  border-bottom:1px solid #e95e6f;
}

.bg-tabb {
  background:#e95e6f;
  min-height:300px;
  padding:2em 0;
}

::-webkit-scrollbar {
  display:none;
}

@media (min-width:767px) {
  .link-download {
    display:inline-block;
    margin:10px;
    transition:0.2s;
  }
}

@media (max-width:767px) {
  .link-download {
    display:inline-block;
    margin:5px;
    transition:0.2s;
  }
}

@media (min-width:767px) {
  .link-download img {
    height:50px;
    width:auto;
  }
}

@media (max-width:767px) {
  .link-download img {
    height:40px;
    width:auto;
  }
}

.link-download:hover {
  opacity:0.8;
}

.bg-minimargin {
  min-height:300px;
}

.menu-drop {
  position:absolute;
  top:100%;
  left:0;
  z-index:1000;
  display:none;
  float:left;
  min-width:160px;
  padding:0;
  margin:0;
  font-size:14px;
  text-align:left;
  list-style:none;
  background-color:#fff;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
  border:none;
  border-radius:2px;
  -webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);
  box-shadow:0 6px 12px rgba(0,0,0,.175);
}

.menu-drop > li > a {
  display:block;
  font-family:'Roboto';
  padding:12.5px 15px;
  clear:both;
  font-weight:300;
  line-height:1.42857143;
  color:#666;
  white-space:nowrap;
}

.menu-drop > li > a i {
  margin-right:15px;
  color:#666666;
  width:25px;
  text-align:center;
}

.menu-drop > li > a:focus, .menu-drop > li > a:hover {
  background-color:#f9f9f9;
  background-image:none;
}

.menu-drop > li > a:focus i, .menu-drop > li > a:hover i {
  color:#e95e6f;
}

.serfcloud {
  width:auto;
  height:300px;
}

.link-learn-more.blx {
  color:#666 !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover {
  background:#e1dddd;
}

.home-logo {
  height: 100%;
  width: auto;
}
