@font-face{
	font-family:"ProximaNova";
	src:url("../fonts/ProximaNova-Regular.eot") format("eot"),
	url("../fonts/ProximaNova-Regular.woff") format("woff"),
	url("../fonts/ProximaNova-Regular.ttf") format("truetype");
}
@font-face{
	font-family:"ProximaNovaL";
	src:url("../fonts/ProximaNovaT-Thin.eot") format("eot"),
	url("../fonts/ProximaNovaT-Thin.woff") format("woff"),
	url("../fonts/ProximaNovaT-Thin.ttf") format("truetype");
}
@font-face{
	font-family:"ProximaNovaEB";
	src:url("../fonts/ProximaNova-Extrabld.eot") format("eot"),
	url("../fonts/ProximaNova-Extrabld.ttf") format("woff"),
	url("../fonts/ProximaNova-Extrabld.woff") format("truetype");
}
@font-face{
	font-family:"ProximaNovaB";
	src:url("../fonts/ProximaNova-Bold.eot") format("eot"),
	url("../fonts/ProximaNova-Bold.ttf") format("woff"),
	url("../fonts/ProximaNova-Bold.woff") format("truetype");
}