h1, h2, h3, h4, h5, h6, p {
  color:#333;
  font-family:'Roboto';
}

a {
  text-decoration:none !important;
  transition:0.3s;
}

.ch-left {
  padding:0;
  position:relative;
}

.ch-right {
  padding:0;
}

@media (min-width:767px) {
  .c-header {
    padding:10px 0 !important;
    height:70px;
    position:relative;
  }
}

@media (max-width:767px) {
  .c-header {
    padding:5px;
    height:auto;
    position:relative;
  }
}

@media (min-width:767px) {
  .dv-brand {
    height:50px;
    width:250px;
    overflow:hidden;
    max-height:50px;
    padding:5px 0;
  }
}

@media (max-width:767px) {
  .dv-brand {
    height:50px;
    width:250px;
    overflow:hidden;
    max-height:50px;
    padding:5px 0;
    position:absolute;
    z-index:110;
  }
}

.link-brand {
  display:inline-block;
}

@media (min-width:767px) {
  .logo {
    height:45px;
    width:auto;
  }
}

@media (max-width:767px) {
  .logo {
    height:40px;
    width:auto;
    margin-left:10px;
  }
}

.navbar-default {
  background:none;
  box-shadow: none;
  border:0;
}

@media (min-width:767px) {
  .navbar {
    position:relative;
    height:50px;
    margin-bottom:0;
  }
}

@media (max-width:767px) {
  .navbar {
    position:absolute;
    height:auto;
    margin-bottom:0;
    width:100%;
    z-index:100;
    background:#fff;
  }
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color:#e95e6f;
  background:none;
  border-bottom:5px solid #e95e6f;
  box-shadow:none;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color:#de5263;
  background-color:transparent;
  border-bottom:4px solid #de5263;
  font-weight:400;
}

@media (min-width:767px) {
  .navbar-default .navbar-nav > li > a {
    color:#333;
    font-family:'Roboto';
    font-weight:400;
    border-bottom:5px solid #de5263;
  }
}

@media (max-width:767px) {
  .navbar-default .navbar-nav > li > a {
    color:#fff;
    font-family:'Roboto';
    font-weight:400;
    border-bottom:3px solid #de5263;
  }
}

header {
  border-bottom:1px solid #eee;
}

.navbar-nav > li > a {
  padding-top:15px;
  padding-bottom:15px;
  line-height:26px;
}

.nav > li > a {
  position:relative;
  display:block;
  padding:15px 13px;
  font-size:14px;
}

.container-hero {
  padding:0;
  position:relative;
}

@media (min-width:767px) {
  .section-hero {
    padding:5em 0;
    min-height:500px;
    background:#f9f9f9;
    position:relative;
  }
}

@media (max-width:767px) {
  .section-hero {
    padding:1em 0;
    min-height:350px;
    background:#f9f9f9;
    position:relative;
  }
}

.col-hero-left {
  padding:0;
}

.col-hero-right {
  padding:0;
  position:relative;
}

@media (min-width:767px) {
  .div-ae-intro-hero {
    padding:3.5rem 2em;
    text-align:left;
  }
}

@media (max-width:767px) {
  .div-ae-intro-hero {
    padding:2.5rem 15px;
    text-align:center;
    margin-top:30px;
  }
}

.heading-hero {
  font-weight:400;
  color:#555;
  margin-top:0;
  font-size:38px;
  margin-bottom:10px;
}

.subtext-hero {
  font-weight:300;
  color:#333;
  font-size:20px;
}

@media (min-width:767px) {
  .div-button-hero {
    padding:15px 0;
    margin-top:3em;
    margin-left:-5px;
  }
}

@media (max-width:767px) {
  .div-button-hero {
    padding:15px 0;
    margin-top:1em;
    margin-left:-5px;
  }
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
  color:#ffffff;
  background-color:#e95e6f;
  border-color:#e95e6f;
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  color:#ffffff;
  background-color:#e95e6f;
  border-color:#e95e6f;
}

.btn-default:hover {
  color:#ffffff;
  background-color:#de5263;
  border-color:#de5263;
  -webkit-box-shadow:0px 15px 51px -10px rgba(163,54,68,0.39);
  -moz-box-shadow:0px 15px 51px -10px rgba(163,54,68,0.39);
  box-shadow:0px 15px 51px -10px rgba(163,54,68,0.39);
}

.btn-default {
  color:#ffffff;
  background-color:#e95e6f;
  border-color:#e95e6f;
}

.btn {
  display:inline-block;
  margin-bottom:0;
  font-weight:normal;
  text-align:center;
  vertical-align:middle;
  -ms-touch-action:manipulation;
  touch-action:manipulation;
  cursor:pointer;
  background-image:none;
  border:1px solid transparent;
  white-space:nowrap;
  padding:10px 30px;
  font-size:15px;
  line-height:1.42857143;
  border-radius:0;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.btn-wpad {
  margin:5px;
}

@media (min-width:767px) {
  .wrap-hero {
    height:400px;
    max-height:400px;
    width:100%;
    text-align:center;
    position:relative;
  }
}

@media (max-width:767px) {
  .wrap-hero {
    height:auto;
    max-height:400px;
    width:100%;
    text-align:center;
    position:relative;
  }
}

@media (min-width:991px) {
  .section-second {
    padding:5em 0;
  }
}

@media (max-width:991px) {
  .section-second {
    padding:2.5em 0;
  }
}

@media (max-width:767px) {
  .section-second {
    padding:1.5em 0;
  }
}

.div-scroll-to {
  display:inline-block;
  position:absolute;
  width:50px;
  height:50px;
  bottom:-25px;
  left:0;
  right:0;
  margin:auto;
}

.link-scroll-bottom {
  display:inline-block;
  height:45px;
  width:45px;
  background:#e95e6f;
  color:#fff;
  text-align:center;
  padding:10px 0;
  border-radius:50px;
  font-size:22px;
  text-decoration:none;
}

.link-scroll-bottom:hover {
  color:#fff;
  background:#de5263;
  -webkit-box-shadow:0px 15px 51px -10px rgba(163,54,68,0.39);
  -moz-box-shadow:0px 15px 51px -10px rgba(163,54,68,0.39);
  box-shadow:0px 15px 51px -10px rgba(163,54,68,0.39);
}

@media (min-width:767px) {
  .container-section {
    padding:2em 0;
  }
}

@media (max-width:767px) {
  .container-section {
    padding:0;
  }
}

@media (min-width:767px) {
  .div-sec-quote {
    padding:20px;
    text-align:center;
    width:85%;
    margin:auto;
    position:relative;
    margin-bottom:2em;
    padding-bottom:2em;
  }
}

@media (max-width:767px) {
  .div-sec-quote {
    padding:15px;
    text-align:center;
    width:100%;
    margin:auto;
    position:relative;
    margin-bottom:1em;
    padding-bottom:1em;
  }
}

.text-section-midle {
  margin:0;
  font-weight:300;
  line-height:1.5;
  font-size:18px;
  font-style:italic;
}

.div-section-slide {
  padding:15px;
  text-align:center;
  position:relative;
}

@media (min-width:767px) {
  .title-h3 {
    font-size:28px;
    font-weight:400;
    margin:0;
    text-transform:uppercase;
  }
}

@media (max-width:767px) {
  .title-h3 {
    font-size:20px;
    font-weight:400;
    margin:0;
    text-transform:uppercase;
    text-align:center;
  }
}

.slide-control {
  display:none;
}

@media (min-width:767px) {
  .div-carousel {
    width:80%;
    margin:auto;
    padding:2em;
  }
}

@media (max-width:767px) {
  .div-carousel {
    width:100%;
    margin:auto;
    padding:1em 0;
  }
}

.title-company-slide {
  color:#e95e6f;
  font-size:22px;
  font-weight:400;
  margin-top:0;
}

@media (min-width:767px) {
  .div-item-slide {
    padding:15px;
    border:1px solid #eee;
    min-height:200px;
  }
}

@media (max-width:767px) {
  .div-item-slide {
    padding:8px;
    border:1px solid #eee;
    min-height:200px;
  }
}

@media (min-width:767px) {
  blockquote {
    padding:10.5px 21px;
    margin-bottom:0;
    font-size:18.75px;
    border-left:none;
  }
}

@media (max-width:767px) {
  blockquote {
    padding:5px;
    margin-bottom:0;
    font-size:18.75px;
    border-left:none;
  }
}

blockquote p {
  font-weight:300;
  font-style:italic;
}

@media (min-width:767px) {
  .carousel-indicators {
    position:absolute;
    bottom:-25%;
    left:50%;
    z-index:15;
    width:60%;
    margin-left:-30%;
    padding-left:0;
    list-style:none;
    text-align:center;
  }
}

@media (max-width:767px) {
  .carousel-indicators {
    position:absolute;
    bottom:-15%;
    left:50%;
    z-index:15;
    width:60%;
    margin-left:-30%;
    padding-left:0;
    list-style:none;
    text-align:center;
  }
}

.carousel-indicators li {
  display:inline-block;
  width:10px;
  height:10px;
  margin:1px;
  text-indent:-999px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  background-color:#000 \9;
  background-color:#c6c6c6;
}

.carousel-indicators .active {
  margin:0;
  width:25px;
  height:12px;
  background-color:#de5263;
}

.item {
  padding:10px;
}

@media (min-width:767px) {
  .section-three {
    padding:5em 0;
    background:#f9f9f9;
  }
}

@media (max-width:767px) {
  .section-three {
    padding:1em 0;
    background:#f9f9f9;
  }
}

.border-thin {
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  color:#ffffff;
  background-color:#090909;
  border-color:#040404;
}

.btn-default:focus, .btn-default.focus {
  color:#ffffff;
  background-color:#de5263;
  border-color:#de5263;
  -webkit-box-shadow:0px 15px 51px -10px rgba(163,54,68,0.39);
  -moz-box-shadow:0px 15px 51px -10px rgba(163,54,68,0.39);
  box-shadow:0px 15px 51px -10px rgba(163,54,68,0.39);
}

@media (min-width:767px) {
  .column-section-left {
    padding:0 20px;
    text-align:initial;
  }
}

@media (max-width:767px) {
  .column-section-left {
    padding:5px;
    text-align:initial;
  }
}

.column-section-right {
  padding:10px;
  text-align:left;
}

@media (min-width:767px) {
  .div-text-section {
    margin-top:25px;
  }
}

@media (max-width:767px) {
  .div-text-section {
    margin-top:0;
    padding:10px;
  }
}

@media (min-width:767px) {
  .div-text-section p {
    font-weight:300;
    margin-bottom:15px;
    line-height:1.5;
    font-size:17px;
  }
}

@media (max-width:767px) {
  .div-text-section p {
    font-weight:300;
    margin-bottom:0;
    line-height:1.5;
    font-size:17px;
  }
}

.panel-default {
  border:none;
  box-shadow:none;
  -webkit-box-shadow:none;
  margin:0;
  background:none;
}

.panel-default > .panel-heading {
  color:#333333;
  background: none;
  border:none;
}

.panel-title {
  margin-top:0;
  margin-bottom:0;
  font-size:17px;
  color:inherit;
  font-weight:400;
}

.ic-akordion {
  margin-right:10px;
  width:15px;
  display:inline-block;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color:#e95e6f;
}

.img-show {
  height:100%;
  width:auto;
}

.width-100 {
  width:100%;
  height:auto;
}

@media (min-width:767px) {
  .section-four {
    padding:5em 0;
    background:#e95e6f;
  }
}

@media (max-width:767px) {
  .section-four {
    padding:2em 0;
    background:#e95e6f;
  }
}

.div-section-for {
  text-align:center;
}

.title-white {
  color:#fff;
  text-transform:uppercase;
}

@media (min-width:767px) {
  .width-80 {
    width:80%;
    margin:auto;
  }
}

@media (max-width:767px) {
  .width-80 {
    width:100%;
    margin:auto;
    padding:10px;
  }
}

@media (min-width:767px) {
  .row-diferent {
    margin:0 auto;
    width:80%;
    padding:2.5em 0;
  }
}

@media (max-width:767px) {
  .row-diferent {
    margin:0 auto;
    width:100%;
    padding:1.5em 0;
  }
}

.column-grid {
  padding:15px;
  border:1px solid #fff;
  text-align:center;
  min-height:150px;
  position:relative;
}

.column-grid 1 {
  padding:15px;
  border:1px solid #fff;
  border-top:0;
  border-left:0;
  text-align:center;
}

.grid-1 {
  border-left:none;
  border-right:none;
  border-top:none;
}

.grid-2 {
  border-top:none;
}

.grid-3 {
  border-left:none;
  border-right:none;
  border-top:none;
}

.grid-4 {
  border:none;
}

.grid-5 {
  border-bottom:none;
  border-top:none;
}

.grid-6 {
  border:none;
}

.wrap-grid-img {
  display:block;
  height:75px;
  text-align:center;
  width:100%;
  padding:15px 0;
}

@media (min-width:767px) {
  .text-grid {
    color:#fff;
    font-size:20px;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
  }
}

@media (max-width:767px) {
  .text-grid {
    color:#fff;
    font-size:16px;
    font-weight:300;
    display:block;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
  }
}

@media (min-width:767px) {
  .section-price {
    padding:5em 0;
  }
}

@media (max-width:767px) {
  .section-price {
    padding:2em 0;
  }
}

@media (min-width:767px) {
  .row-price {
    position:relative;
  }
}

@media (max-width:767px) {
  .row-price {
    position:relative;
    margin:0;
  }
}

@media (min-width:767px) {
  .column-price {
    padding:25px;
    position:relative;
  }
}

@media (max-width:767px) {
  .column-price {
    padding:15px;
    position:relative;
  }
}

.div-price-tabble {
  border:1px solid #eee;
  transition:0.3s;
  border-radius:4px;
  overflow:hidden;
}

.table-heading {
  background:#333333;
  color:#fff;
  text-align:center;
}

.table-heading-red {
  background:#de5263;
  color:#fff;
  text-align:center;
}

.table-responsive {
  margin:0;
  border:none;
  padding:0;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding:15px 8px;
  line-height:1.42857143;
  vertical-align:top;
  border:none;
  text-align:center;
}

.table-red {
  background:#fcf9f9;
}

.ic-table {
  display:inline-block;
  width:30px;
  height:30px;
  text-align:center;
  position:absolute;
  right:-15px;
  color:#333;
  padding:5px 0;
  font-size:22px;
  top:50%;
  bottom:0;
}

.ic-red {
  color:#de5263;
  transform:rotate(90deg);
  font-size:19px;
}

.div-price-tabble:hover {
  -webkit-box-shadow:0px 15px 51px -10px rgba(199,199,199,1);
  -moz-box-shadow:0px 15px 51px -10px rgba(199,199,199,1);
  box-shadow:0px 15px 51px -10px rgba(199,199,199,1);
  transform:translateY(-10px);
}

@media (min-width:767px) {
  .div-sec-text-sub {
    padding:10px;
    margin-top:1em;
    margin-bottom:2em;
    font-weight:300;
    font-size:17px;
  }
}

@media (max-width:767px) {
  .div-sec-text-sub {
    padding:15px;
    margin-top:1em;
    margin-bottom:1em;
    font-weight:300;
    font-size:17px;
  }
}

@media (min-width:767px) {
  .section-consumer {
    background:#f9f9f9;
    padding:5em 0;
  }
}

@media (max-width:767px) {
  .section-consumer {
    background:#f9f9f9;
    padding:1em 0;
  }
}

.div-logo-consumer {
  height:auto;
  width:200px;
  text-align:center;
  margin:auto;
  padding:10px;
}

.logo-busines {
  width:100%;
  height:auto;
}

@media (min-width:767px) {
  .div-carousel.review {
    width:100%;
    border:1px solid #eee;
    border-radius:4px;
    padding:15px 15px;
    position:relative;
    margin-bottom:2em;
    margin-top:2em;
    background:#fff;
  }
}

@media (max-width:767px) {
  .div-carousel.review {
    width:100%;
    border:1px solid #eee;
    border-radius:4px;
    padding:5px 15px;
    position:relative;
    margin-bottom:2em;
    margin-top:2em;
    background:#fff;
  }
}

.ctrl-icon {
  color:#333;
  font-size:38px;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  bottom:0;
}

.ctrl-icon-right {
  color:#333;
  font-size:38px;
  height:100%;
  position:absolute;
  right:0;
  top:0;
  bottom:0;
  padding-top:80%;
}

@media (min-width:767px) {
  .below-review {
    text-align:center;
    padding:2em 10px;
    margin-top:1em;
    width:85%;
    margin:auto;
    position:relative;
  }
}

@media (max-width:767px) {
  .below-review {
    text-align:center;
    padding:1em 10px;
    margin-top:1em;
    width:100%;
    margin:auto;
    position:relative;
  }
}

.carousel-control {
  position:absolute;
  top:40%;
  left:-7%;
  bottom:40%;
  width:5%;
  opacity:0.5;
  filter:alpha(opacity=50);
  font-size:20px;
  color:#ffffff;
  text-align:center;
  text-shadow:0 1px 2px rgba(0,0,0,0.6);
  background:none;
}

.carousel-control.left {
  background-image:none;
  background:none;
  box-shadow:none;
}

.carousel-control.right {
  left:auto;
  right:-8%;
  background-image:none;
  background:none;
}

.footer {
  background:#303030;
}

.container-footer {
  padding:3em 0 !important;
}

@media (min-width:767px) {
  .footer-copyright {
    padding:25px 15px;
    text-align:center;
    background:#181818;
  }
}

@media (max-width:767px) {
  .footer-copyright {
    padding:10px 15px;
    text-align:center;
    background:#181818;
  }
}

.text-copyright {
  margin:0;
  font-weight:300;
  color:#414040;
}

@media (min-width:767px) {
  .column-footer {
    padding:10px;
    color:#fff;
  }
}

@media (max-width:767px) {
  .column-footer {
    padding:15px;
    color:#fff;
  }
}

@media (min-width:767px) {
  .big-logo {
    color:#fff;
    margin:0;
    font-size:50px;
    font-weight:700;
  }
}

@media (max-width:767px) {
  .big-logo {
    color:#fff;
    margin:0;
    font-size:38px;
    font-weight:700;
    text-align:center;
  }
}

.div-footer-big-logo {
  margin-bottom:15px;
}

.img-hero {
  width:100%;
  height:auto;
}

.li-marker {
  display:flex;
  margin-bottom:5px;
  padding:5px 2px;
  min-height:50px;
}

.span-icon {
  width:30px;
  height:30px;
  display:inline-block;
  text-align:center;
  padding:3px 0;
  color:#fff;
  border:1px solid #fff;
  border-radius:3px;
  transform:rotate(45deg);
}

.ic-footer-mark {
  font-size:16px;
  transform:rotate(-45deg);
}

.text-mark-footer {
  color:#fff;
  flex-grow:1;
  margin-left:10px;
  font-weight:300;
  font-size:14px;
  margin-bottom:0;
  vertical-align:middle;
}

.div-span {
  width:30px;
  height:30px;
  min-width:30px;
  margin-right:5px;
}

.div-footer-sosmed {
  margin-top:15px;
}

.link-sosmed {
  display:inline-block;
  width:35px;
  height:35px;
  margin:5px;
  color:#333;
  text-align:center;
  border-radius:50px;
  background:#fff;
  padding:5px 0;
  font-size:18px;
  transition:0.3s;
}

.link-sosmed:hover {
  background:#e95e6f;
  color:#fff;
}

.footer-title {
  color:#fff;
  font-size:18px;
  margin-top:10px;
  font-weight:400;
  margin-bottom:15px;
  text-transform:uppercase;
}

@media (min-width:767px) {
  .footer-link li a {
    color:#fff;
    padding:4px 0;
    display:block;
    margin-bottom:2px;
    margin-top:2px;
    font-size:16px;
    font-weight:300;
  }
}

@media (max-width:767px) {
  .footer-link li a {
    color:#fff;
    padding:2px 0;
    display:block;
    margin-bottom:1px;
    margin-top:1px;
    font-size:16px;
    font-weight:300;
  }
}

.footer-link li a:hover {
  color:#de5263;
}

@media (min-width:767px) {
  .section-learn-column {
    padding:15px;
  }
}

@media (max-width:767px) {
  .section-learn-column {
    padding:5px;
  }
}

@media (min-width:767px) {
  .section-row {
    margin-top:2em;
    margin-left:0;
    margin-right:0;
  }
}

@media (max-width:767px) {
  .section-row {
    margin-top:15px;
    margin-left:0;
    margin-right:0;
  }
}

@media (min-width:767px) {
  .div-section-col {
    padding:20px;
    border:1px solid #eee;
    min-height:180px;
    text-align:center;
  }
}

@media (max-width:767px) {
  .div-section-col {
    padding:20px;
    border:1px solid #eee;
    min-height:120px;
    text-align:center;
  }
}

.div-section-col p {
  font-weight:300;
  font-size:16px;
}

.sub-heading {
  font-weight:400;
  color:#de5263;
  font-size:22px;
}

.no-padding {
  padding:0;
}

.height-auto {
  height:auto;
}

.tx-center {
  text-align:center;
  font-size:16px;
}

@media (min-width:767px) {
  .margin-mini {
    margin-bottom:15px !important;
  }
}

@media (max-width:767px) {
  .margin-mini {
    margin-bottom:0 !important;
  }
}

@media (min-width:767px) {
  .section-five {
    padding:4em 0;
    background:#f5f5f5;
  }
}

@media (max-width:767px) {
  .section-five {
    padding:0em 0;
    background:#f5f5f5;
  }
}

p {
  font-size:16px;
}

.div-sec-text-sub p {
  font-size:17px;
}

.overflo-hiden {
  overflow:hidden;
}

@media (min-width:767px) {
  .top-partner {
    padding:5em 0;
    border-bottom:1px solid #eee;
    height:auto;
    position:relative;
    background:#e95e6f;
  }
}

@media (max-width:767px) {
  .top-partner {
    padding:1em 0;
    border-bottom:1px solid #eee;
    height:auto;
    position:relative;
    background:#e95e6f;
    margin-top:3em;
  }
}

.container-partner-top {
  position:relative;
  height:auto;
  text-align:center;
}

@media (min-width:767px) {
  .huge-text {
    font-size:155px;
    margin:0;
    position:absolute;
    color:#ee7382;
    font-weight:700;
    opacity:0.6;
    letter-spacing:5px;
    display:block;
    left:0;
    right:0;
    z-index:1;
    top:-50px;
  }
}

@media (max-width:767px) {
  .huge-text {
    font-size:85px;
    margin:0;
    position:absolute;
    color:#ee7382;
    font-weight:700;
    opacity:0.6;
    letter-spacing:2px;
    display:block;
    left:0;
    line-height:1;
    z-index:1;
    top:0;
    bottom:0;
  }
}

.div-title-partner {
  position:relative;
  z-index:100;
  padding:20px 0;
}

@media (min-width:767px) {
  .title-partner {
    font-weight:500;
    color:#414040;
    font-size:48px;
    margin:0;
    display:inline-block;
    text-shadow:0px 5px 10px rgba(148,56,70,0.3);
  }
}

@media (max-width:767px) {
  .title-partner {
    font-weight:500;
    color:#414040;
    font-size:38px;
    margin:0;
    display:inline-block;
    text-shadow:0px 5px 10px rgba(148,56,70,0.3);
  }
}

.title-partner span {
  font-weight:700;
  color:#fcf9f9;
  /*border-bottom:2px solid #fff;*/
}

@media (min-width:767px) {
  .partner-section-two {
    padding:5em 0;
  }
}

@media (max-width:767px) {
  .partner-section-two {
    padding:1em 0;
  }
}

@media (min-width:767px) {
  .div-sparner-two {
    padding:15px;
    margin-bottom:2em;
  }
}

@media (max-width:767px) {
  .div-sparner-two {
    padding:15px;
    margin-bottom:0;
  }
}

.h3-partner {
  margin-top:0;
  font-size:18px;
  color:#333;
  line-height:1.5;
  border-left:2px solid #e95e6f;
  padding-left:22px;
}

.h3-partner i {
  color:#e95e6f;
  font-size:14px;
  vertical-align:middle;
  margin-right:10px;
}

.row-partner {
  margin:0;
  margin-top:25px;
}

.col-type-parner {
  padding:10px;
  position:relative;
}

.div-sec-type {
  position:relative;
  padding:20px;
  border:1px solid #eee;
  min-height:265px;
  transition:0.3s;
  background:#fff;
}

.h4-type-text {
  font-size:16px;
  line-height:1.5;
  margin-bottom:0;
}

.title-type-text {
  font-size:20px;
  color:#e95e6f;
  font-weight:400;
  margin-top:0;
}

.title-type-text i {
  margin-right:10px;
  font-size:18px;
}

.div-sec-type:hover {
  border-left-color:#de5263;
}

@media (min-width:767px) {
  .section-level {
    padding:4em 0;
    background:#e95e6f;
    color:#fff;
  }
}

@media (max-width:767px) {
  .section-level {
    padding:1em 0;
    background:#e95e6f;
    color:#fff;
  }
}

.text-white {
  color:#fff;
  border-left-color:#fff;
}

.text-white i {
  color:#fff;
}

.row-level {
  margin:2em 0;
  background:#fff;
  padding:2em 10px;
  border-radius:2px;
}

.column-level {
  padding:15px 10px;
}

.div-level {
  border-radius:2px;
  position:relative;
  transition:0.3s;
  border-bottom:2px solid transparent;
  cursor:pointer;
}

.div-level-title {
  padding:10px;
  text-align:center;
  padding-bottom:20px;
  position:relative;
}

.level-title-box {
  margin:0;
  font-size:28px;
  font-weight:400;
  color:inherit;
  display:block;
}

.platinum {
  background:#e5e4e2;
}

.gold {
  background:#daa520;
  color:#fff;
}

.silver {
  background:#c0c0c0;
}

.bronze {
  background:#cd7f32;
  color:#fff;
}

.star-level {
  font-size:24px;
  color:#de5263;
  margin:2px;
}

.ic-white {
  color:#fff;
}

.div-star {
  display:inline-block;
  padding:10px;
  margin-bottom:10px;
  border-bottom:1px solid #fff;
  top:0;
}

.div-star-platinum {
  padding:10px;
  display:inline-block;
  margin-bottom:10px;
  border-bottom:1px solid #de5263;
}

.div-level:hover {
  transform:translateY(-5px);
  -webkit-box-shadow:0px 31px 49px -7px rgba(179,179,179,0.47);
  -moz-box-shadow:0px 31px 49px -7px rgba(179,179,179,0.47);
  box-shadow:0px 31px 49px -7px rgba(179,179,179,0.47);
  border-bottom:2px solid #de5263;
}

@media (min-width:767px) {
  .partner-section-title {
    color:inherit;
    font-size:38px;
    text-align:center;
    text-transform:uppercase;
  }
}

@media (max-width:767px) {
  .partner-section-title {
    color:inherit;
    font-size:28px;
    text-align:center;
    text-transform:uppercase;
  }
}

@media (min-width:767px) {
  .section-request-demo {
    padding:4em 0;
  }
}

@media (max-width:767px) {
  .section-request-demo {
    padding:1em 15px;
    margin-top:3em;
  }
}

@media (min-width:767px) {
  .section-form {
    padding:5em 0;
    background-image:url(../../../assets/img/img-pages/bg_request_demo.jpg);
    background-size:cover;
    background-repeat:no-repeat;
  }
}

@media (max-width:767px) {
  .section-form {
    padding:2em 15px;
    background-image:url(../../../assets/img/img-pages/bg_request_demo.jpg);
    background-size:cover;
    background-repeat:no-repeat;
  }
}

.container-reqdemo {
  padding:2em;
}

@media (min-width:767px) {
  .div-form {
    padding:3.5em;
    background:#fff;
    border-radius:4px;
    margin:0;
  }
}

@media (max-width:767px) {
  .div-form {
    padding:0.5em;
    background:#fff;
    border-radius:4px;
    margin:0;
  }
}

.input-form {
  border:1px solid #eee;
  height:60px;
  padding:15px;
}

.form-control:focus {
  border-color:#e95e6f;
  outline:0;
  -webkit-box-shadow:none;
  box-shadow:none;
}

@media (min-width:767px) {
  .col-form {
    padding:10px;
  }
}

@media (max-width:767px) {
  .col-form {
    padding:0;
  }
}

.col-button {
  padding:1em;
  text-align:center;
  margin-top:1em;
}

@media (min-width:767px) {
  .btn-request-demo {
    width:40%;
    padding:15px;
  }
}

@media (max-width:767px) {
  .btn-request-demo {
    width:80%;
    padding:10px;
  }
}

@media (min-width:767px) {
  .subtext-title {
    font-size:22px;
    text-align:center;
  }
}

@media (max-width:767px) {
  .subtext-title {
    font-size:18px;
    text-align:center;
  }
}

@media (min-width:991px) {
  .section-aboutus {
    padding-top:5em;
    height:auto;
    position:relative;
    background-image:url(bg_about_us.png);
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
  }
}

@media (max-width:991px) {
  .section-aboutus {
    padding-top:2.5em;
    height:auto;
    position:relative;
    background-image:url(bg_about_us.png);
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
  }
}

@media (max-width:767px) {
  .section-aboutus {
    padding-top:1em;
    height:auto;
    position:relative;
    background-image:url(bg_about_us.png);
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
  }
}

.img-about {
  position:absolute;
  width:100%;
  left:0;
  bottom:0;
}

@media (min-width:767px) {
  .div-about-img {
    width:47%;
    padding:5px;
    flex-grow:1;
    margin:auto;
  }
}

@media (max-width:767px) {
  .div-about-img {
    width:47%;
    padding:15px;
    flex-grow:1;
    margin:auto;
  }
}

.col-about-us {
  padding:0;
  text-align:center;
  display:flex;
}

.div-wide-img {
  padding:15px;
  margin-top:1em;
  /*max-height:250px;*/
  overflow:hidden;
}

@media (min-width:767px) {
  .section-about-second {
    padding:3em 0;
  }
}

@media (max-width:767px) {
  .section-about-second {
    padding:1em 0;
  }
}

.subtitle-about {
  font-size:22px;
  margin-top:0;
  color:#de5263;
  font-weight:400;
}

.sec-col-about {
  font-weight:300;
  padding:10px;
}

.sec-col-about p {
  padding-left:10px;
  border-left:1px solid #ddd;
}

@media (min-width:767px) {
  .max-300 {
    max-height:500px;
    height:500px;
    overflow:hidden;
    padding:0;
  }
}

@media (max-width:767px) {
  .max-300 {
    max-height:300px;
    height:300px;
    overflow:hidden;
    padding:15px;
  }
}

.height-100 {
  height:100%;
  width:auto;
}

.upper {
  text-transform:uppercase;
  font-size:28px;
}

@media (min-width:767px) {
  .section-position {
    padding:3em 0;
    background:#f5f5f5;
  }
}

@media (max-width:767px) {
  .section-position {
    padding:1em 0;
    background:#f5f5f5;
  }
}

@media (min-width:767px) {
  .col-position {
    padding:10px;
  }
}

@media (max-width:767px) {
  .col-position {
    padding:5px;
  }
}

p.job-opport {
  font-size:22px;
}

@media (min-width:767px) {
  .job-row {
    margin-top:2em;
  }
}

@media (max-width:767px) {
  .job-row {
    margin:0;
  }
}

.job-list li {
  font-size:18px;
  padding:4px 0;
  font-weight:300;
  padding-left:10px;
  border-left:1px solid #de5263;
  margin-top:5px;
  margin-bottom:5px;
}

@media (min-width:767px) {
  .section-try {
    padding:3em 0;
    background:#e95e6f;
    color:#fff;
    text-align:center;
  }
}

@media (max-width:767px) {
  .section-try {
    padding:2em 0;
    background:#e95e6f;
    color:#fff;
    text-align:center;
  }
}

@media (min-width:767px) {
  .text-try {
    font-size:38px;
    color:inherit;
    margin-top:0;
    text-transform:uppercase;
    margin-bottom:28px;
  }
}

@media (max-width:767px) {
  .text-try {
    font-size:22px;
    color:inherit;
    margin-top:0;
    text-transform:uppercase;
    margin-bottom:28px;
  }
}

@media (min-width:767px) {
  .btn-try {
    width:25%;
    padding:15px;
    background:#fff;
    color:#de5263;
    font-size:18px;
    text-transform:uppercase;
    border:2px solid #fff;
  }
}

@media (max-width:767px) {
  .btn-try {
    width:70%;
    padding:8px;
    background:#fff;
    color:#de5263;
    font-size:16px;
    text-transform:uppercase;
    border:2px solid #fff;
  }
}

.btn-try:hover {
  border:2px solid #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color:#e95e6f;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color:#eeeeee;
}

@media (max-width:767px) {
  .nav-open {
    border:0;
    border-bottom:1px solid #ddd;
    background:#333333;
    color:#fff;
  }
}

.container {
  padding:0;
}

@media (max-width:767px) {
  .div-btn-mob {
    margin-top:0;
    text-align:center;
    padding:10px;
  }
}

@media (max-width:767px) {
  .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6 {
    border:none;
  }
}

@media (max-width:767px) {
  .slide-control-consumer {
    display:none;
  }
}

@media (min-width:767px) {
  .slide-control-consumer {
  }
}
